@use "./../../common/variables" as *;

.trust {
  padding-bottom: 30px;

  &__title {
    margin-bottom: 30px;
    font-weight: $fw-bold;
    text-transform: uppercase;
  }

  &__img {
    img {
      width: 100%;
      transition: 1s;
    }

    &:hover {
      z-index: 2;
      transform: scale(1.1);
      box-shadow: 0 0 10px $color-grey;
    }
  }
}