@use "./../../common/variables" as *;

.trust {
  padding-bottom: 30px;

  &__title {
    text-transform: uppercase;
    font-weight: $fw-bold;
    margin-bottom: 30px;
  }

  &__img {
    img {
      width: 100%;
    }
  }
}