@use "./../../common/variables" as *;

.trust {
  @media (width <= 1280px) {
    .container {
      max-width: none;
    }
  }

  @media (width <= 992px) {
    .container {
      max-width: none;
    }
  }

  @media (width <= 767px) {
    .container {
      max-width: none;
    }
  }

    @media (width <= 556px) {
      .container {
        max-width: none;
      }
    }

  @media (width <= 480px) {
    .container {
      max-width: none;
    }
  }
}