@use "./../../common/variables" as *;

.member {
  @media (width <= 1280px) {
    &__contacts {
      flex-direction: column;
      gap: 10px;

        & > div::after {
          display: none!important;
        }
    }
  }

  @media (width <= 767px) {
    &__img5 {
      max-width: 300px;
      max-height: 375px;
    }
  }
}