@use "./../../common/bootstrap-config" as *;
@use "./../../common/variables" as *;
@use "./../../common/extends" as *;

.header {
  z-index: 2;

  width: 100%;
  height: $header-height;
  max-height: $header-height;
  padding-top: 50px;

  &-top {
    z-index: 1;
    margin-bottom: -30px;

    &__wrapper > div:not(:last-child) {
      display: flex;
      align-items: center;
      margin-right: 6px;

      &::after {
        content: '';

        display: block;

        width: 6px;
        height: 6px;
        margin-left: 6px;

        background: $white;
        border-radius: 50%;
      }
    }

    &__lang {
      &-title {
        padding: 5px 7px;
        font-size: $font-size-sm;
        text-transform: uppercase;
        border-radius: 8px;
      }

      input:checked + span {
        background: $accent-color;
      }
    }
  }

  .navbar-nav {
    gap: 15px;
    margin-bottom: -40px;


    a {
      position: relative;
      font-weight: $fw-bold;
      color: $color-white;
      text-transform: lowercase;

      &::after {
        content:'';

        position: absolute;
        z-index: 5;
        bottom: -5px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);

        width: 100%;
        height: 2px;

        background-color: $accent-color;
      }

      &:hover {
        @extend %gradient_color;

        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.25s;
      }
    }
  }
  
  .navbar-toggler-icon {
    color: $color-white;
  }
}


  .dark-text {
    z-index: 3;

    .header {
      &-top {
        &__lang {
          &-title {
            color: $color-grey !important;
          }

          input:checked + span {
            background: $accent-color!important;
          }
        }

        &__phone a {
          color: $color-grey !important;
        }

        &__socials a i {
          color: $color-grey !important;
        }

        &__address a {
          color: $color-grey !important;
        }

        &__wrapper > div:not(:last-child) {
          &::after {
            background: $color-grey;
          }
        }
      }
    }

    .navbar-nav a {
    color:$color-blue!important;
    }

    .navbar-toggler-icon {
      color: $color-logo-dark!important;
    }
  }