.header {
  @media (width <= 991px) {
    padding-top: 0;

    &-top {
      margin: 0 0 15px;
      padding: 10px 0;
      background: rgba(245, 245, 250, 0.2);

      &__wrapper {
        justify-content: space-between!important;

        & > div::after {
          display: none!important;
        }
      }

      &__address,
      &__socials {
        display: none!important;
      }
    }

    .navbar-nav {
      background: rgba(245, 245, 250, 0.2);
    }
  }

  @media (width <= 480px) {
    .navbar-brand svg{
      max-width: 100px;
    }
  }
}

.dark-text {
  .navbar-nav {
    @media (width <= 991px) {
      background: rgba(255, 255, 255, 0.9);
    }
  }
}
