.footer {
  @media (width <= 992px) {
    &-contacts__wrapper {
      justify-content: start !important;
    }
  }

  @media (width <= 767px) {
    &__wrapper {
      justify-content: center !important;
    }

    &-contacts__wrapper {
      justify-content: center !important;
    }
  }

  @media (width <= 556px) {
    &__wrapper {
      justify-content: center !important;
    }

    &-contacts__wrapper {
      justify-content: center!important;
    }
  }

  @media (width <= 480px) {
    &__wrapper {
      justify-content: center !important;
    }

    &-contacts__wrapper {
      justify-content: center!important;
    }
  }

  @media (width <= 320px) {
    &__wrapper {
      justify-content: center !important;
    }

    &-contacts__wrapper {
      justify-content: center!important;
    }
  }
}