@use "./../../common/variables" as *;

.footer {
  margin-top: auto;
  padding: 30px 0;
  background: $color-light-grey;

  &-contacts__wrapper > div:not(:last-child) {
    display: flex;
    align-items: center;
    margin-right: 6px;

    &::after {
      content: '';

      display: block;

      width: 6px;
      height: 6px;
      margin-left: 6px;

      background: $color-grey;
      border-radius: 50%;
    }
  }

  &-contacts {
    &__wrappers > div:first-child {
      margin-bottom: 30px;
    }

    &__address-link {
      font-size: $f-xxs;
      font-weight: $fw-bold;
      color: $color-blue;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__socials {
      font-size: $f-lg;
      color: $color-blue;
    }

    &__phone {
      font-weight: $fw-bold;
      color: $color-dark-grey;
    }

    &__mail {
      font-weight: $fw-bold;
      color: $color-blue;
    }
  }
}