@use "./../../common/variables" as *;
@use "./../../common/extends" as *;
@use "./../../common/bootstrap-config" as *;

.services {
  padding-top: 60px;

  h2 {
    @extend %gradient_color;

    margin-bottom: 60px;
    font-weight: $fw-bold;
  }

  &__service {
    flex-direction: column;
    gap: 30px;
    color: $white;
  }

  &__icon span {
    display: inline-block;
    padding: 10px;
    background-color: $white;
    border-radius: 10px;
  }

  &__title a {
    margin: 0;
    font-size: $fs-h4;
    font-weight: $fw-bold;
    color: $color-blue;
  }

  &__link {
    margin-bottom: 10px;
    font-size: $f-xs;
    text-transform: uppercase;

    a {
      color: $color-blue;
    }

    &:hover {
      @extend %gradient_color;
    }
  }

  &__description {
    font-size: $font-size-base;
    font-weight: $fw-base;
  }

  &.services-page {
    padding-top: 150px;
  }
}
