@use './../../common/variables' as *;
@use './../../common/mixins' as *;

.banner {
  @include bg_img_center(get_path('svg/h.svg'), contain);
  padding-top: $header_height;
  height: 100vh;
  min-height: 400px;

  h1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
    text-align: center;
    font-weight: $fw-bold;
    text-transform: capitalize;
  }


  &__scroll {
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
}
