@use './../../common/variables' as *;
@use './../../common/mixins' as *;

.banner {
  @include bg_img_center(get_path('svg/h.svg'), contain);

  height: 100vh;
  min-height: 400px;
  padding-top: $header_height;

  h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: $fw-bold;
    color: $color-white;
    text-align: center;
    text-transform: capitalize;
  }


  &__scroll {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}
