@use "./../../common/variables" as *;

.team {
  @media (max-width: 992px) {
    .container {
      max-width: 992px;
    }

    &__inner {
      max-height: 530px;
    }
  }

  @media (max-width: 556px) {
    &__inner {
      max-height: 950px;
    }

    &__description {
      &-text {
        font-size: $f-ml;
      }
    }
  }
}