@use "./../../common/variables" as *;

.team {
  @media (width <= 992px) {
    .container {
      max-width: 992px;
    }
  }

  @media (width <= 767px) {
    &__description {
      &-text {
        font-size: $f-md;
      }
    }

    &__indicator {
      margin-bottom: 10px !important;
    }
  }

  @media (width <= 556px) {
    &__description {
      &-text {
        font-size: $f-md;
      }
    }

    &__indicator {
      margin-bottom: -10px !important;
    }
  }
}