@use "./../../common/variables" as *;
@use "./../../common/extends" as *;
@use "./../../common/mixins" as *;

.team {
  //padding-bottom: 60px;
  margin-bottom: 60px;

  &__inner {
  max-height: 400px;
}

  &__img1 {
    @include bg_img_center(get_path('img/team/olexandrovsky.jpg'));
  }

  &__img2 {
    @include bg_img_center(get_path('img/team/kobzar.jpg'));
  }

  &__img3 {
    @include bg_img_center(get_path('img/team/melnik.jpg'));
  }

  &__description {
      &-text {
        @extend %gradient_color;
        font-weight: $fw-bold;
        font-size: $f-lg;
        line-height: normal;
        margin-bottom: 30px;
      }

    &-name {
      color: $color-grey;
      font-weight: $fw-bold;
      font-size: $f-xs;
      margin-bottom: 6px;
    }

    &-job {
      color: $color-grey;
      font-weight: $fw-base;
      font-size: $f-xs;
    }

    a {
      color: $color-blue;
      font-size: $f-xs;
      letter-spacing: 1px;

      &:hover {
        @extend %gradient_color;
      }
    }
  }


  &__indicator {
    margin-bottom: -30px!important;

    button {
      border-width: 1px;
      border-radius: 50%;
    }
  }
}