.contact-form {
  @media (width <= 992px) {
    &__texts {
      margin-bottom: 60px;
    }

    &__box {
      margin-left: 30px;
    }
  }

  @media (width <= 767px) {
    &__box {
      margin-left: 0;
    }
  }

  @media (width <= 556px) {
    &__box {
      margin-left: 0;
    }
  }
}