@use "./../../common/variables" as *;
@use "./../../common/extends" as *;

.values {
  padding: 60px 0;


  &__catalog {
    padding-right: 60px;
    gap: 30px;

      li {
        font-size: 35px;
        font-weight: $fw-bold;

        button {
          line-height: normal;

          &:hover, &:active, &:focus {
            @extend %gradient_color;
            transition: 0.3s;
          }
        }
      }
    }

  &__approach {
    padding-left: 60px;
    color: $white;

    &-description {
      font-size: $f-md;
      line-height: 40px;

      h3 {
        font-weight: $fw-bold;
        line-height: normal;
        margin-bottom: 30px;
      }
    }
  }
}