@use "./../../common/variables" as *;
@use "./../../common/bootstrap-config" as *;

.values {
  @media (max-width: 1200px) {
    &__approach {
      &-description {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  @media (max-width: 992px) {
    &__approach {
      padding-left: 15px;
    }

    &__catalog {
      border-right: 0!important;
      border-bottom: $border-width solid $border-color!important;
      margin-bottom: 60px;
      padding-bottom: 60px;
      justify-content: space-between!important;

        li {
          font-size: 26px;
        }
      }
    }

  @media (max-width: 767px) {
    &__catalog {
      padding: 0 15px 30px 15px!important;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 556px) {
    padding-bottom: 30px;
    &__approach {
      padding: 0 15px 0 15px!important;
    }
  }
  }
