@use "./../../common/variables" as *;

.achievements {
  padding-top: 30px;
  background: $color-light-grey;

  &__title {
    margin-bottom: 30px;

    font-size: $f-xs;
    font-weight: $fw-bold;
    color: $color-logo-dark;
    text-transform: uppercase;
  }

  .container {
    &::after {
      content: '';

      display: inline-block;

      width: 100%;
      height: 2px;
      margin-top: 30px;

      background-color: $color-switch-bg;
    }
  }

  #slider {
    position: relative;
    top: 10px;
    margin: 0 auto;
    text-align: center;
  }

  #slides article{
    float: left;
    width: 10%;
  }

  #slides .image{
    width: 400%;
    line-height: 0;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }

  #overflow{
    overflow: hidden;
    width: 100%;
  }

  .image__item img{
    width: 100%;
  }

  #desktop:checked ~ #slider{
    max-width: 1600px;
  }

  .all input{
    display: none;
  }

  #switch1:checked ~ #slides .image{
    margin-left: 0;
  }

  #switch2:checked ~ #slides .image{
    margin-left: -100%;
  }

  #switch3:checked ~ #slides .image{
    margin-left: -200%;
  }

  #switch4:checked ~ #slides .image{
    margin-left: -300%;
  }

  #controls{
    width: 100%;
    height: 50px;
    margin: -25% 0 0;
  }

  #active label{
    display: inline-block;

    width: 15px;
    height: 15px;

    background: $color-light_blue;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  #active{
    margin: 23% 0 0;
    text-align: center;
  }

  #switch1:checked ~ #active label:nth-child(1),
  #switch2:checked ~ #active label:nth-child(2),
  #switch3:checked ~ #active label:nth-child(3),
  #switch4:checked ~ #active label:nth-child(4) {
    background: $color-blue;
    border-color: $color-blue!important;
  }
}