@use "./../../common/variables" as *;
@use "./../../common/extends" as *;

.service-article {
  padding-top: 160px;

  h2 {
    @extend %gradient_color;

    font-weight: $fw-bold;
  }

  h4 {
    margin-bottom: 30px;
    font-weight: $fw-bold;
  }

  &__service {
    gap: 30px;
    margin-bottom: 30px;
    color: $color-white;

    &::after {
      content: '';

      display: inline-block;

      width: 100%;
      height: 4px;

      background-color: $color-border-after;
    }
  }

  &__icon span {
    display: inline-block;
    padding: 10px;
    background-color: $color-white;
    border-radius: 10px;
  }

  &__description {
    font-size: $f-sm-md;
    font-weight: $fw-base;
    line-height: 30px;
  }

  &__btn {
    margin-bottom: 30px;
  }

  &__services {
    &-list {
      gap: 15px;

      li {
        font-size: $f-sm-sm;

        &::marker {
          color: $accent-color;
        }
      }
    }
  }
}