@use "./../../common/variables" as *;

.recommended {
  @media (max-width: 992px) {
    .container {
      max-width: 992px;
    }
  }

  @media (max-width: 767px) {

    &__cards > :last-child {
      min-width: 330px;
    }

    &__cards > :not(:last-child) {
      min-width: 240px;
    }
  }

  @media (max-width: 556px) {
    h2 {
      font-size: $f-ml;
    }

    &__cards > :not(:last-child) {
      min-width: 315px;
    }
  }

  @media (max-width: 480px) {
    &__cards > :last-child {
      min-width: 300px;
    }

    &__cards > :not(:last-child) {
      min-width: 300px;
    }
  }
}