@use "./../../common/variables" as *;
@use "./../../common/extends" as *;
@use "./../../common/mixins" as *;

.publications {
  padding-top: 30px;
  background: $color-light-grey;

  &__link a {
    margin-bottom: 10px;

    font-size: $f-xs;
    font-weight: $fw-bold;
    color: $color-blue;
    text-transform: uppercase;

    &:hover {
      @extend %gradient_color;
    }
  }

  h2 {
    @extend %gradient_color;

    margin-bottom: 30px;
    font-weight: $fw-bold;
  }

  h5 {
    margin-bottom: 15px;
    font-weight: $fw-bold;
    color: $color-blue;
  }

  &__update {
    font-size: $f-xxs;
    font-weight: $fw-bold;
    color: $color-grey;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::after {
      content: '';

      display: inline-block;

      width: 100%;
      height: 4px;

      background-color: $color-switch-bg;
    }
  }

  &__description {
    font-size: $f-xs;
    font-weight: $fw-base;
    line-height: 22px;
  }

  .container {
    &::after {
      content: '';

      display: inline-block;

      width: 100%;
      height: 2px;
      margin-top: 30px;

      background-color: $color-switch-bg;
    }
  }

  &__cards, &__wrapper, &__card-wrapper {
    gap: 30px;
  }

  &__card {
    &-item {
      min-width: 315px;
    }
  }
}

.publications-page {
  padding-top: 150px;
}