@use "./../../common/variables" as *;

.publications {
  @media (width <= 1280px) {
    &__card {
      &-item {
        min-width: 300px;
      }
    }
  }

  @media (width <= 767px) {
    &__cards > :last-child {
      min-width: 330px;
    }

    &__cards > :not(:last-child) {
      min-width: 240px;
    }
  }

  @media (width <= 556px) {
    h2 {
      font-size: $f-ml;
    }

    &__cards > :not(:last-child) {
      min-width: 315px;
    }
  }

  @media (width <= 480px) {
    &__cards > :last-child {
      min-width: 300px;
    }

    &__cards > :not(:last-child) {
      min-width: 300px;
    }
  }
}