@use "./../../common/variables" as *;
@use "./../../common/extends" as *;
@use "./../../common/mixins" as *;

.publications {
  background: $color-light-grey;
  padding-top: 30px;

  &__link a {
    margin-bottom: 10px;
    font-size: $f-xs;
    text-transform: uppercase;
    color: $color-blue;
    font-weight: $fw-bold;

    &:hover {
      @extend %gradient_color;
    }
  }

  h2 {
    @extend %gradient_color;
    font-weight: $fw-bold;
    margin-bottom: 30px;
  }

  h5 {
    color: $color-blue;
    font-weight: $fw-bold;
    margin-bottom: 15px;
  }

  &__update {
    font-size: $f-xxs;
    color: $color-grey;
    font-weight: $fw-bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:after {
      content: '';
      display: inline-block;
      height: 4px;
      background-color: $color-switch-bg;
      width: 100%;
    }
  }

  &__description {
    font-size: $f-xs;
    line-height: 22px;
    font-weight: $fw-base;
  }

  .container {
    &:after {
      content: '';
      display: inline-block;
      height: 2px;
      background-color: $color-switch-bg;
      width: 100%;
      margin-top: 30px;
    }
  }

  &__cards, &__wrapper, &__card-wrapper {
    gap: 30px;
  }

  &__card {
    &-item {
      min-width: 315px;
    }
  }
}