@use "./../../common/variables" as *;
@use "./../../common/extends" as *;
@use "./../../common/mixins" as *;

.publication-article {
  padding-bottom: 60px;

  &__content {
    gap: 30px;
    margin-bottom: 30px;
  }

   h5 {
     font-weight: $fw-bold;
     color: $color-logo-dark;
   }

  h2 {
    @extend %gradient_color;

    font-weight: $fw-bold;
  }

  h3 {
    font-weight: $fw-bold;
    color: $color-logo-dark;
  }

  h4 {
    font-weight: $fw-bold;
    color: $color-logo-dark;
  }

  &__update {
    font-size: $f-xxs;
    font-weight: $fw-bold;
    color: $color-grey;
    text-transform: uppercase;
    letter-spacing: 1px;

    &::after {
      content: '';

      display: inline-block;

      width: 100%;
      height: 4px;

      background-color: $color-switch-bg;
    }
  }

  &__description {
    font-weight: $fw-base;
    line-height: 26px;
  }

  &__image {
    &-description {
      font-size: $f-xs;
      color: $color-grey;
    }
  }

  &__image1 {
    margin-bottom: 30px;
  }

  ol li {
    font-size: $f-sm-sm;
    line-height: 26px;

      &::marker {
        font-weight: $fw-bold;
        color: $accent-color;
      }
    }

  &__icon {
    gap: 10px;

    a {
      display: inline-block;

      padding: 5px 10px;

      font-size: $f-sm-sm;
      color: $color-dark-blue;

      background-color: $color-light-grey;
      border-radius: 12px;
    }
  }

  &__card {
    &::after {
      content: '';

      display: inline-block;

      width: 100%;
      height: 2px;
      margin-bottom: 30px;

      background-color: $color-switch-bg;
    }
  }
}