@use "./../../common/variables" as *;
@use "./../../common/extends" as *;
@use "./../../common/mixins" as *;

.team-group {
  padding: 60px 0;

  h2 {
    @extend %gradient_color;

    margin-bottom: 30px;
    font-size: 34px;
    font-weight: $fw-bold;
  }

  h5 {
    font-weight: $fw-bold;
    color: $color-logo-dark;

    &:hover {
      color: $accent-color;
    }
  }

  &__img1 {
    @extend %bg_image_team_group;

    @include bg_img_center(get_path('img/team/olexandrovsky.jpg'));
  }

  &__img2 {
    @extend %bg_image_team_group;

    @include bg_img_center(get_path('img/team/patrikov.jpg'));
  }

  &__img3 {
    @extend %bg_image_team_group;

    @include bg_img_center(get_path('img/team/melnik.jpg'));
  }

  &__img4 {
    @extend %bg_image_team_group;

    @include bg_img_center(get_path('img/team/binn.jpg'));
  }

  &__img5 {
    @extend %bg_image_team_group;

    @include bg_img_center(get_path('img/team/kobzar.jpg'));
  }

  &__img6 {
    @extend %bg_image_team_group;

    @include bg_img_center(get_path('img/team/wolk.jpg'));
  }

  &__description-job {
    font-size: $f-xs;
    font-weight: $fw-base;
    line-height: 22px;
    color: $color-grey;
  }
}