@use "./variables" as *;

body {
  box-sizing: border-box;
  font-family: $font-base;
}

.gradient {
  background:  linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-bottom: 60px;

  &:before, &:after {
    display: inline-block;
    content: '';
    height: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  &:before {
    width: calc(100% - 40px);
    background-color: #CACADB;
    bottom: -10px;
  }


  &:after {
    width: calc(100% - 80px);
    background-color: #E7E7F2;
    bottom: -20px;
  }

  margin-bottom: 60px;
}

.btn-custom {
  cursor: pointer;

  padding: 18px 30px;

  font-size: $f-sm;
  color: #fff;
  font-weight: $fw-bold;

  background: $color-blue;
  border: 2px solid transparent;
  border-radius: $border-r;
  box-shadow: 0 0 20px 0 $color-btn-shadow;

  &:hover {
    background: $color-middle-blue;
    transition: 0.3s;
  }

  &:active {
    background: $color-dark-blue;
  }
}

.btn-circle {
  cursor: pointer;
  font-size: $f-sm;
  color:$color-blue;
  background: $color-light-grey;
  font-weight: $fw-bold;
  border: 2px solid transparent;
  border-radius: 50%;

  &:hover {
    color: $accent-color;
    transition: 0.3s;
  }

  &:active {
    color: $accent-color;
  }
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h1;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

.switch {
  width: 230px;
  height: 40px;
  border-radius: 12px;

  input {
    appearance: none;
    width: 230px;
    height: 40px;
    border-radius: 10px;
    background: $color-switch-bg;
    outline: none;
    transition: 0.25s;

    &:before, &:after {
      z-index: 2;
      position: absolute;
      top: -20%;
      transform: translateY(-50%);
      font-weight: $fw-bold;
      font-size: $f-sm;
      text-transform: lowercase;
      color: $color-logo-dark;
    }

    &:after {
      content: 'articles';
      right: 30px;
    }

    &:before {
      content: 'news';
      left: 30px;
    }

    &:checked {
      &+label {
        left: 3px;
        right: 115px;
        background: #fff;
        transition: left 0.5s, right 0.4s 0.2s;
      }
    }

    &:not(:checked){
      background: $color-switch-bg;
      transition: background 0.4s;

      &:before, &:after {
        transition: color 0.5s;
      }

      &+label {
        left: 115px;
        right: 3px;
        background: #fff;
        transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
      }
    }
  }

  label {
    z-index: 1;
    position: absolute;
    top: -22px;
    bottom: 7px;
    border-radius: 7px;
  }
}

.page {
  overflow: hidden;
}