@use "./variables" as *;

%bg_no_repeat__center {
  background-repeat: no-repeat;
  background-position: center center;
}

%gradient_color {
  background: $color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}