$assets_path: './../../assets/pictures/';

$header_height: 150px;

// colors
$color-gradient: -webkit-linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
$accent-color: #F0145A;
$color-light-grey: #F5F5FA;
$color-grey: #B3B3BA;
$color-dark-grey: #46466E;
$color-blue: #24A3FF;
$color-middle-blue: #0085FF;
$color-dark-blue: #006CCF;
$color-light_blue: rgba(211, 237, 255, 0.82);
$color-border-after: #E6E6F0;
$color-btn-shadow: rgba(36, 163, 255, 0.50);




// for fonts
$s-serif: sans-serif;
$font-base: 'montserrat', $s-serif;

$fw-base: 400;
$fw-bold: 700;

// font-sizes
$f-xxs: 12px;
$f-xs: 14px;
$f-sm: 16px;
$f-sm-sm: 18px;
$f-sm-md: 20px;
$f-md: 22px;
$f-ml: 30px;
$f-lg: 38px;

$fs-h1: $f-lg;
$fs-h2: $f-lg;
$fs-h3: $f-ml;
$fs-h4: $f-md;
$fs-h5: $f-sm;

//buttons

$border-r: 12px;
