$assets_path: './../../assets/pictures/';

$header_height: 150px;

// colors
$color-gradient: -webkit-linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
$accent-color: #F0145A;
$color-dark: #000;
$color-light: #fff;
$color-light-grey: #F5F5FA;
$color-grey: #B3B3BA;
$color-blue: #24A3FF;

// for fonts
$s-serif: sans-serif;
$font-base: 'montserrat', $s-serif;

$fw-base: 400;
$fw-bold: 700;

// font-sizes
$fs-h1: 38px;
$fs-h2: 38px;
$fs-h3: 30px;
$fs-h4: 22px;

//$f-xs: 12px;
$f-sm: 14px;
$f-md: 20px;
$f-ml: 30px;
$f-lg: 38px;
